@import url("https://fonts.googleapis.com/css?family=Niramit");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
nav.navbar-light .navbar-nav .nav-item {
    cursor: pointer;
}

nav.navbar-light .navbar-nav .nav-link {
    color: #695a5c;
    font-weight: 400;
}

nav.navbar-light .navbar-nav .nav-link.active {
    color: #695a5c;
}

nav .icon-cart,  nav .icon-user{
    font-size: 28px;
    color: #149796;
}

nav .logo {
    width: 180px;
}

nav ul li {
    margin: 5px;
}

nav .itens-carrinho {
    background: #fff;
    font-family: "Niramit";
    color: #686868;
    font-size: 13px;
    box-shadow: 0px 0px 5px 0px #bfbfbf;
    padding: 15px;
    right: 0px;
    top: 60px;
    width: 300px;
    border-radius: 5px;
    z-index: 1000;
}

nav.navbar-light .navbar-nav .nav-link  {
    line-height: 45px;
    color: #149796;
    border-radius: 4px;
}

nav.navbar-light .navbar-nav .nav-link:hover  {
    color: #149796;
}

.form-pesquisa {
    width: 400px;
    margin: auto;
}

.form-pesquisa .btn-search {
    right: 0;
    height: 100%;
    color: #149796;
    padding: 8px 15px;
    background-color: #fff;
    border: none;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 3px;
}

.text-pesquisa {
    width: 100%;
    border: none;
    border: 1px solid #d3d3d3;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 13px;
}

.text-pesquisa:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #d3d3d3;
    outline: 0;
}

.btn-carrinho {
    transition: all .5s;
    width: 100%;
    border: none;
    padding: 7px;
    font-size: 13px;
    border-radius: 5px;
    background: #F6802A;
    color: #fff;
}

.btn-carrinho:hover {
    background: #ffaa00;
}

.price {
    color: #149796;
}

.price-total {
    color: #F6802A;
}

.list-cards-produto {
    flex-wrap: wrap;
}

.card-produto {
    transition: all .5s;
    height: 300px;
    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #ebebeb;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

@media(max-width: 1399px) {
    .card-produto {
        width: 230px;
    }
}

@media(max-width: 1199px) {
    .card-produto {
        width: 190px;
    }
}

@media(max-width: 989px) {
    .card-produto {
        width: 220px;
    }
}

@media(max-width: 767px) {
    .card-produto {
        width: 245px;
    }
}

@media(max-width: 560px) {
    .card-produto {
        width: 100%;
    }
}

.card-produto > img {
    width: 150px;
    align-self: center;
}

.detalhes-produto .descricao {
    font-size: 12.5px;
    color: #4b4b4b;
}